*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#body{ transition: .25s ease-in-out; }
#body header{
  width: 100%;
  height: 5em;
  padding: 30px;
  transition: .25s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
#body.dark-mode header{ background-color: rgb(90, 103, 115); }
#body.light-mode header{ background-color:rgb(246, 247, 248); }
#body header a{ text-decoration: none;}
#body.dark-mode a{ color: white; }
#body.light-mode a{ color: black; }
#body header ul{
    width: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header .toggle{
    background: transparent;
    border: 0;
}
#body .search-nav{
  height: 5em;
  width: 100%;
  display: flex;
  box-shadow: 0 10px 20px rgba(0,0,0,.19), 0 6px 6px rgba(0,0,0,.23);
  transition: .25s ease-in-out;
}
#body.dark-mode .search-nav{ background-color: rgb(94, 112, 129); }
#body.light-mode .search-nav{ background-color: rgb(255, 255, 255); }
.form-group{
    margin:auto;
    display: flex;
}
.form-control{
    margin: auto;
    width: 85%;
}
.options{
    margin: auto;
    width: 50%;
}
.search{
    width: 35em;
    display: flex;
    margin: 10px;
}
#body #btnSearch{
    height: 50px;
    width: 50px;
}
#body .search #btnSearch{ margin-left: 10px; }
#body.dark-mode .search #btnSearch{
    background-color: rgb(90, 103, 115);
    color: rgb(249, 251, 253);
}
#body.light-mode .search #btnSearch{
    background-color: rgb(246, 247, 248);
    color: rgb(90, 103, 115);
}
.form-group button {
    width: 30%;
    padding: 10px;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-radius: 5px;
    cursor: pointer;
    transition: .25s ease-in-out;
}
#body.dark-mode { background-color: rgb(110, 130, 150); }
#body.light-mode { background-color:white; }
.outer-container{
    max-width: 1024px;
    height:100%;
    align-items: center;
    margin: auto;
    margin-top: 10px;
}
.result-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.newsContainer{
    width: 350px;
    height: 580px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;   
    background-color:white;    
} 
.newsContainer img{
    padding: none;
    width: 100%;
    height: 230px;
    border-top-left-radius: 5px ;
    border-top-right-radius: 5px ;
    object-fit: cover;
}
.newsBody{ 
    padding: 1em;
    text-align: justify;
 }
.newsBody ul{ list-style: none; }
#body .newsUtility{
    display:flex;
    justify-content: space-between;
}
#body .newsUtility a{
    border-radius: 5px;
    padding: 10px;
    color: white; 
    font-weight: 200;
    background-color: rgb(53, 49, 49);
}
#body .newsBody button{ 
    background-color: transparent;
    border: 0;
}
.newsFooter{
    padding: 1em;
    background-color: rgb(222, 227, 231);
    margin-top:auto;
    text-align: center;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
}
.containers{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    list-style: none;
    margin: auto;
}